body {
	background: #23A416;
background: -moz-radial-gradient(center, #23A416 0%, #CB74C8 53%, #3C6E75 100%);
background: -webkit-radial-gradient(center, #23A416 0%, #CB74C8 53%, #3C6E75 100%);
background: radial-gradient(ellipse at center, #23A416 0%, #CB74C8 53%, #3C6E75 100%);
}


section {
	font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
letter-spacing: 2px;
word-spacing: 2px;
color: rgba(129,0,0,0.96);
font-weight: bold;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
font-variant: normal;
text-transform: none;
text-align: center;

background-image: url("Snorkel.jpg");
background-color: rgb(81, 81, 155);
height: inherit;
background-position: top;
background-repeat: no-repeat;
background-size: cover;

border: 4px inset #00F9FF;

}

.myButton {
	color: rgb(0, 0, 0); font-size: 18px; line-height: 18px; padding: 11px; border-radius: 33px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(135deg, rgb(164, 164, 164) 0%, rgb(203, 203, 203) 56%, rgb(130, 127, 134) 100%); box-shadow: rgba(0, 0, 0, 0.83) 1px 0px 29px 15px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
	.myButton:hover {
	background: #A4A4A4; }
	.myButton:active {
	background: #827F86; }