body {
    background-color: rgb(230, 206, 250);
    text-align: center;
    transition-property: background-color;
    transition-duration: 1s;
}

body:hover {
    background-color: blueviolet;
}